<div class="center">
  <h1><%= comic.alt %></h1>
  <br>
  <br>
  <img src="<%= comic.src %>" title="<%= comic.title %>" alt="<% comic.alt %>"/>
  <br>
  <label class="page"><%= comic.title %></label>
  <br>
  <a href="http://www.explainxkcd.com/wiki/index.php?title=<%= comic.number %>">Explain To Me!!<a>
  <br>
  <br>
  <br>
  <br>
</div>
